.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  height: 100vh; /* Full screen height */
  width: 100vw; /* Full screen width */
  background: url("../../../public/wallpaper.png") no-repeat center center fixed;
  background-size: cover;

  /* Text color, adjust as needed */
}

.logo {
  margin-top: 0px; /* Space between top and logo */
  margin-bottom: -40px; /* Space between logo and content */
  width: 250px; /* Adjust size as needed */
  height: auto; /* Maintain aspect ratio */
}

.pipelineContainer {
  width: 88%;
  max-width: 1400px;
  height: 60vh; /* Set the height to 70% of the viewport height */
  position: relative;
  margin: 0 auto;
  padding: 60px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  backdrop-filter: blur(10px);
  position: relative;
  margin-bottom: 100px; /* Adds space below the container to accommodate the icons */
}
.pipelineTitle {
  font-size: 1.2rem; /* Size of the title */
  font-weight: bold; /* Make the title bold */
  color: #333; /* Title color */
  margin-top: -50px; /* Space below the title */
  margin-bottom: 70px; /* Space below the title */
  text-align: center; /* Center the title */
  font-family: "Poppins", sans-serif; /* Font style */
}
.pipeline {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  margin-top: -50px; /* Adjust the vertical positioning */
  gap: 10px; /* Space between stages */
}

.stage {
  width: 60px; /* Circle size */
  height: 60px;
  background: linear-gradient(145deg, #ffffff, #e0e0e0);
  border: 2.7px solid rgb(32, 86, 116);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4em; /* Increase font size for numbers */
  color: #333;
  font-weight: bold; /* Keep the numbers bold */
  position: relative;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.38);
  font-family: "Lato", sans-serif; /* Change to your desired font */
  font-weight: bold; /* Optional, makes the number/title bold */
}

.connector {
  width: 140px; /* Longer connectors for better spacing */
  height: 4px; /* Thicker line for visibility */
  background-color: rgb(49, 159, 218); /* Use the same color as active border */
  border-radius: 2px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Add depth to the connector */
}
.stage[data-title] {
  font-family: "Lato", sans-serif; /* Change to your desired font for the title */
  font-size: 1.3em; /* Adjust size as needed */
}
.stage.disabled[data-title] {
  color: #888; /* Gray color for the title under the disabled stages */
  font-weight: normal;
  font-size: 1.1rem;
  text-align: center;
}
.stage.disabled {
  background: #f0f0f0; /* Dimmer background for disabled stages */
  border: 2px solid #ccc; /* Neutral border for disabled */
  color: #aaa; /* Lighter text color for inactive stage */
}
.stage:not(.disabled):hover {
  background-color: rgb(179, 159, 130); /* Change to a color when hovering */
  color: #000; /* White text when hovered */
  transform: scale(1.1); /* Slightly increase size on hover */
  transition: all 0.3s ease; /* Smooth transition */
}
.stage::after {
  content: attr(data-title);
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  color: #333;
  font-size: 0.7em; /* Label size remains smaller for contrast */
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
}

/* Data Not Found in the Embedding route */
.dataNotFound {
  margin-top: 20px; /* Add spacing above */
  padding: 15px; /* Add padding around the text */
  color: #d32f2f; /* Bright red for error message */
  background-color: #ffe6e6; /* Light red background for emphasis */
  border: 1px solid #f5c2c2; /* Subtle border to frame the error */
  border-radius: 8px; /* Rounded corners for modern design */
  font-weight: bold; /* Bold text to grab attention */
  text-align: center; /* Center-align the text */
  font-size: 1rem; /* Adjust font size for readability */
  width: 100%; /* Ensure it spans the container */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for depth */
}
.link {
  color: #1976d2;
  cursor: pointer;
  text-decoration: underline;
}
.link:hover {
  color: #0056b3; /* Darker blue on hover */
}
/* Step 1 : Select Method */
.selectMethodContainer {
  text-align: center;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid rgb(101, 163, 163);
  border-radius: 10px;
  background-color: rgba(240, 255, 240, 0.47);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
  min-width: 300px;
}
.selectMethodTitle {
  font-size: 1.4em;
  margin-bottom: 40px;
  color: rgb(94, 138, 175);
  text-align: center;
}
.inlineContainer {
  display: inline-flex;
  align-items: center;
  margin-top: 25px;
  gap: 3px;
}
.descriptionText {
  font-size: 14px;
  color: #555;
  line-height: 1.6;
  text-align: center;
}
.iconPadding {
  margin-right: 8px;
  color: rgba(54, 159, 173, 0.59);
}
.proceedButtonStep1 {
  padding: 10px 20px;
  margin-top: 5px;
  margin-right: 15px;
  background-color: rgb(89, 161, 111);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 10px;
  transition: background-color 0.3s ease;
}
.proceedButtonStep1:hover {
  background-color: rgb(52, 116, 65);
}
.proceedButton {
  padding: 10px 20px;
  margin-top: -3px;
  margin-right: 15px;
  background-color: rgb(89, 161, 111);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 8px;
  transition: background-color 0.3s ease;
}

.proceedButton:hover {
  background-color: rgb(52, 116, 65);
}

/* Step 2 : Set Parameters  */
/* Method : TF-IDF */
.tfidfConfigContainer {
  text-align: center;
  padding: 7px;
  border: 2px solid #65a3a3;
  border-radius: 10px;
  background-color: rgba(240, 255, 240, 0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
  margin: 10px auto; /* Reduced margin */
}

.tfidfConfigContainer h3 {
  font-size: 1.2rem; /* Slightly smaller heading */
  color: #2f4f4f;
  margin-bottom: 5px; /* Reduced margin */
}

.methodDescription {
  font-size: 0.9rem; /* Smaller font for compact design */
  color: #556b2f;
  margin-bottom: 5px; /* Reduced spacing */
}
.methodError {
  font-size: 0.9rem; /* Smaller font for compact design */
  color: rgb(158, 36, 36);
  margin-bottom: -5px; /* Reduced spacing */
}
.paramGroup {
  margin: 10px 0; /* Compact spacing between param groups */
  text-align: left;
}

.paramGroup label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.paramGroup input[type="range"] {
  width: 85%; /* Slider width */
  margin: 0.08px 0;
  display: inline-block;
}

.paramGroup .sliderValue {
  display: inline-block;
  margin-left: 10px;
  font-size: 0.85rem;
  font-weight: bold;
  color: #007acc;
}

.paramGroup input[type="number"] {
  width: 80px;
  padding: 5px;
  font-size: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 10px;
}

.paramGroup .paramDesc {
  display: block;
  font-size: 0.8rem;
  color: #666;
  margin-top: 5px;
}

.tfidfConfigContainer input:focus {
  border-color: #65a3a3;
  outline: none;
}
.paramTitle {
  font-weight: bold;
  font-size: 0.8rem;
  color: #333;
  display: block;
  margin-bottom: 5px;
}
.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: -10px;
}

.loadingIcon {
  font-size: 0.8em;
  animation: spin 1s linear infinite;
}
.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 0px;
}

/* Method : CAMeL  */
.config-container {
  border: 2px solid #65a3a3;
  background-color: rgba(240, 255, 240, 0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 15px;
  width: 90%;
  max-width: 950px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* min-height: 42vh; */
}

.config-header {
  font-size: 18px;
  font-weight: bold;
  margin-top: -2px;
  text-align: center;
  padding: 10px 0;
  border-radius: 5px;
  width: 100%;
}
.config-label {
  font-size: 14px;
  margin-bottom: 3px; /* Reduced space below label */
  font-weight: bold;
}

.config-description {
  font-size: 12.8px;
  color: #888;
  margin-top: 3px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.config-input {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 14px;
  width: 100%;
}

.config-input:focus {
  border-color: #007bff;
}

.config-submit-btn {
  background-color: #007bff;
  width: 30%;
  color: white;
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  align-self: center;
}

.config-submit-btn:hover {
  background-color: #0056b3;
}

.buttonContainerCamel {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 12px;
}
.proceedButtonCamel {
  padding: 10px 20px;
  margin-top: -10px;
  margin-right: 15px;
  background-color: rgb(89, 161, 111);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 5px;
  transition: background-color 0.3s ease;
}

.proceedButtonCamel:hover {
  background-color: rgb(52, 116, 65);
}
/* Step 3 : View Results  */
.tablePreview {
  width: 100%; /* Adjusts to screen size for responsiveness */
  max-width: 1300px; /* Ensures it doesn’t grow too large */
  padding: 5px;
  margin-top: 10px;
  background: rgba(161, 148, 148, 0.16);
  border: 1px solid rgba(200, 200, 200, 0.5); /* Softer border */
  border-radius: 10px; /* Slightly more rounded corners for modern look */
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15); /* Deeper shadow for a raised effect */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px); /* Adds a subtle blur effect behind */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth interaction animations */
}
/* Flask Status */
.statusFlask {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.statusText {
  margin-left: 10px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  padding: 5px;
}

.successIcon {
  color: green;
  animation: fadeIn 0.5s ease-in-out;
}

.errorIcon {
  color: red;
  animation: fadeIn 0.5s ease-in-out;
}
.returnIcon {
  margin-left: 10px;
  font-size: 1.1em;
  margin-right: 8px;
  color: #0077b5; /* Set the color of the icon */
  transition: color 0.3s ease;
}
